    <footer class="page-footer bg-primary"  >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Welcome to BlogBoom, where we share insights, stories, and tips across [Your Topics, e.g., lifestyle, tech, health, and travel]. Our mission is to inspire, inform, and connect with readers passionate about [your niche]. Whether you're looking to learn something new, find inspiration, or dive deep into the latest trends, we've got you covered. Follow us on social media for updates, and don't forget to subscribe to our newsletter to stay connected!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Developer: <b>Yogesh Saini</b></a>
            </div>
          </div>
        </footer>
            